body {
    text-align: center;
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2017/11/09/1152635/02ad71fa2e0027935a25cff5f6a76b45-700.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header {
  background-color: rgb(73, 207, 255);  
  color: black;
  border: 3px solid black;
  border-radius: 25px;
}
.question {
    width: 50%;
    padding: 20px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    background-color: white;
    font-size: 28px;
    margin: 0px auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.choices {
    width: 50%;
    height: 300px;
    margin: 0px auto;
    color: white;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
.choices ul {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0px;
}
.choices ul li {
    width: 200px;
    height: 80px;
    background-color: rgb(215, 140, 0);
    padding-top: 10px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
    border-radius: 25px;
    border: 3px solid rgb(159, 93, 0)

}
.score {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 10px auto;
}
.player1, .player2 {
    width: 20%;
    background-color: white;
    margin: 0px;
    text-align: center;

}
.player1 h3, .player2 h3 {
    text-decoration: underline;
}
header h3 {
    font-style: italic;
}
.player1 {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}
.player2 {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}